[submodule "submodules/Hue-sensors-HASS"]
	path = submodules/Hue-sensors-HASS
	url = https://github.com/robmarkcole/Hue-sensors-HASS.git
[submodule "submodules/hass-circadian_lighting"]
	path = submodules/hass-circadian_lighting
	url = https://github.com/claytonjn/hass-circadian_lighting.git
