[submodule "submodules/Hue-sensors-HASS"]
	path = submodules/Hue-sensors-HASS
	url = https://github.com/robmarkcole/Hue-sensors-HASS.git
[submodule "submodules/ha-illuminance"]
	path = submodules/ha-illuminance
	url = https://github.com/pnbruckner/ha-illuminance.git
