language: python
cache: pip
python:
  - '3.5'
install:
  - 'pip3 install homeassistant'
script:
  - 'mv secrets.yaml.sample secrets.yaml'
  - 'touch /ssh/fullchain.pem'
  - 'touch /ssh/privkey.pem'
  - 'hass -c . --script check_config | tee check.output'
  - '! less check.output | grep -q "Failed config"'