language: python
python:
  - "3.4"
install:
  - pip3 install homeassistant
script:
  - hass -c . --script check_config | tee check.output
  - ! less test.tmp | grep -q ERROR
before_install:
  - mv secrets.yaml.sample secrets.yaml
