homeassistant:
  name: Home
  latitude: !secret zone_home_lat
  longitude: !secret zone_home_long
  elevation: 150
  unit_system: metric
  time_zone: Europe/London

  customize: !include_dir_merge_named configuration/customize
  packages: !include_dir_merge_named configuration/packages

# Enablers
browser:
cloud:
config:
conversation:
discovery:
frontend:
  javascript_version: latest
ios:
  push:
    categories:
    - name: Update 
      identifier: 'update'
      actions:
      - identifier: 'UPDATE_RESTART'
        title: 'Update & Restart'
        activationMode: 'background'
        authenticationRequired: no
        destructive: yes
        behavior: 'default'
map:
ring:
  username: !secret ring_username
  password: !secret ring_password
hue:
  bridges:
    - allow_unreachable: false
      allow_hue_groups: true
sun:
updater:
  include_used_components: true

# History
influxdb:
  host: !secret influx_host
  port: 8086
  username: !secret influx_user
  password: !secret influx_pass
  default_measurement: state
  exclude:
    entities:
    - sensor.date
recorder:
  db_url: !secret db_connection
  purge_interval: 1
  purge_keep_days: 14
  exclude:
    entities:
    - sensor.date
history:
  include:
    entities:
    - light.bedroom
    - light.den
    - light.dressing_room
    - light.guest_room
    - light.hallways
    - light.kitchen
    - light.living_room
    - light.porch
logbook:
  exclude:
    domains:
    - group
    entities:
    - binary_sensor.kitchen_motion
    - binary_sensor.living_room_motion
    - binary_sensor.entrance_hall_motion
    - sensor.log_db_file_size
    - sensor.cpu_temp
    - sensor.average_load_15m
    - sensor.since_last_boot

# external links
weblink:
  entities:
  - name: Sky Router
    icon: mdi:ethernet
    url: http://192.168.0.1
  - name: BT WiFi
    icon: mdi:router-wireless
    url: http://mybtdevice.home
  - name: Travis
    icon: mdi:worker
    url: https://travis-ci.org/danrspencer/hass-config
panel_iframe:
  grafana:
    title: Grafana
    url: 'https://hass5bill.grafana.net/dashboard/db/hassio?orgId=1&from=now%2Fd&to=now&kiosk=true&refresh=1m'
    icon: mdi:trending-up

# Text To Speech
tts:
  platform: amazon_polly
  aws_access_key_id: !secret aws_access_key_id
  aws_secret_access_key: !secret aws_secret_access_key
  region_name: eu-west-1
  text_type: text
  voice: Brian

# Device Tracking
zone:
  - zone:
    name: Home
    latitude: !secret zone_home_lat
    longitude: !secret zone_home_long
    radius: 250

  - zone 2:
    name: Work
    latitude: !secret zone_l_work_lat
    longitude: !secret zone_l_work_long
    icon: mdi:briefcase

  - zone 3:
    name: Work
    latitude: !secret zone_d_work_lat
    longitude: !secret zone_d_work_long
    icon: mdi:briefcase

http:
  api_password: !secret hass_password
  base_url: !secret hass_base_url
  trusted_networks:
  - 127.0.0.1
  - 192.168.0.0/24

device_tracker:
  - platform: nmap_tracker
    hosts:
      - 192.168.0.6
      - 192.168.0.9

duckdns:
  domain: !secret duckdns_domain
  access_token: !secret duckdns_token

# Components
automation: !include_dir_merge_list configuration/automation
binary_sensor: !include_dir_merge_list configuration/binary_sensor
climate: !include_dir_merge_list configuration/climate
group: !include_dir_merge_named configuration/group
input_boolean: !include_dir_merge_named configuration/input_boolean
light: !include_dir_merge_list configuration/light
media_player: !include_dir_merge_list configuration/media_player
nest: !include configuration/nest.yaml
scene: !include_dir_merge_list configuration/scene
script: !include_dir_merge_named configuration/script
sensor: !include_dir_merge_list configuration/sensor
switch: !include_dir_merge_list configuration/switch
weather: !include_dir_merge_list configuration/weather
