hass_base_url: something.duckdns.org:8123
hass_password: xxxxxxxxxx

db_connection: mysql://user:password@SERVER_IP/DB_NAME?charset=utf8

influx_host: xxxxxxxxxx
influx_user: xxxxxxxxxx
influx_pass: xxxxxxxxxx

duckdns_domain: xxxxxxxxxx
duckdns_token: xxxxxxxxxx

aws_access_key_id: xxxxxxxxxx
aws_secret_access_key: xxxxxxxxxx

nest_client_id: xxxxxxxxxx
nest_client_secret: xxxxxxxxxx

spotify_client_id: xxxxxxxxxx
spotify_client_secret: xxxxxxxxxx

hue_username: xxxxxxxxxx

metoffice_key: xxxxxxxxxx
darksky_key: xxxxxxxxxx
openweathermap_key: xxxxxxxxxx

transportapi_app_id: xxxxxxxxxx
transportapi_key: xxxxxxxxxx

hue_kitchen_temperature: http://192.168.0.2/api/xxxxxxxxxx/sensors/5
hue_kitchen_motion: http://192.168.0.2/api/xxxxxxxxxx/sensors/6
hue_kitchen_light: http://192.168.0.2/api/xxxxxxxxxx/sensors/7

hue_living_room_temperature: http://192.168.0.2/api/xxxxxxxxxx/sensors/42
hue_living_room_motion: http://192.168.0.2/api/xxxxxxxxxx/sensors/43
hue_living_room_light: http://192.168.0.2/api/xxxxxxxxxx/sensors/44

hue_entrance_hall_light: http://192.168.0.2/api/xxxxxxxxxx/sensors/38
hue_entrance_hall_temperature: http://192.168.0.2/api/xxxxxxxxxx/sensors/36
hue_entrance_hall_motion: http://192.168.0.2/api/xxxxxxxxxx/sensors/37

# Zones
zone_home_lat: 1.0000
zone_home_long: 1.0000

zone_d_work_lat: 1.0000
zone_d_work_long: 1.0000

zone_l_work_lat: 1.0000
zone_l_work_long: 1.0000

# Devices
lauren_profile: http://graph.facebook.com/xxxxxxxxxx/picture?type=square
dan_profile: http://graph.facebook.com/xxxxxxxxxx/picture?type=square
dphone_mac: 00:00:00:00:00:00
laurens_iphone_mac: 00:00:00:00:00:00

# Hassio
ssh_pub_key: xxxxxxxxxx