hass_base_url: something.duckdns.org:8123
hass_cp_base_url: something.duckdns.org:7080
hass_password: xxxxxxxxxx

ssl_certificate: fullchain.pem
ssl_key: privkey.pem

db_connection: mysql://user:password@SERVER_IP/DB_NAME?charset=utf8

influx_host: xxxxxxxxxx
influx_user: xxxxxxxxxx
influx_pass: xxxxxxxxxx

duckdns_domain: xxxxxxxxxx
duckdns_token: xxxxxxxxxx

aws_access_key_id: xxxxxxxxxx
aws_secret_access_key: xxxxxxxxxx

nest_client_id: xxxxxxxxxx
nest_client_secret: xxxxxxxxxx

ring_username: xxxxxxxxxx
ring_password: xxxxxxxxxx

spotify_client_id: xxxxxxxxxx
spotify_client_secret: xxxxxxxxxx

hue_token: xxxxxxxxxx

metoffice_key: xxxxxxxxxx
darksky_key: xxxxxxxxxx
openweathermap_key: xxxxxxxxxx

transportapi_app_id: xxxxxxxxxx
transportapi_key: xxxxxxxxxx

# Zones
zone_home_lat: 1.0000
zone_home_long: 1.0000

zone_d_work_lat: 1.0000
zone_d_work_long: 1.0000

zone_l_work_lat: 1.0000
zone_l_work_long: 1.0000

# Devices
lauren_profile: http://graph.facebook.com/xxxxxxxxxx/picture?type=square
dan_profile: http://graph.facebook.com/xxxxxxxxxx/picture?type=square
dphone_mac: 00:00:00:00:00:00
laurens_iphone_mac: 00:00:00:00:00:00

# Hassio
ssh_pub_key: xxxxxxxxxx