hass_password: xxxxxxxxxx

aws_access_key_id: xxxxxxxxxx
aws_secret_access_key: xxxxxxxxxx

nest_client_id: xxxxxxxxxx
nest_client_secret: xxxxxxxxxx

spotify_client_id: xxxxxxxxxx
spotify_client_secret: xxxxxxxxxx

hue_username: xxxxxxxxxx

metoffice_key: xxxxxxxxxx
darksky_key: xxxxxxxxxx
openweathermap_key: xxxxxxxxxx

transportapi_app_id: xxxxxxxxxx
transportapi_key: xxxxxxxxxx

steam_key: xxxxxxxxxx

hue_kitchen_light: http://192.168.0.2/api/xxxxxxxxxx/sensors/5
hue_kitchen_temperature: http://192.168.0.2/api/xxxxxxxxxx/sensors/5
hue_kitchen_motion: http://192.168.0.2/api/xxxxxxxxxx/sensors/5

hue_living_room_light: http://192.168.0.2/api/xxxxxxxxxx/sensors/5
hue_living_room_temperature: http://192.168.0.2/api/xxxxxxxxxx/sensors/5
hue_living_room_motion: http://192.168.0.2/api/xxxxxxxxxx/sensors/5

hue_entrance_hall_light: http://192.168.0.2/api/xxxxxxxxxx/sensors/5
hue_entrance_hall_temperature: http://192.168.0.2/api/xxxxxxxxxx/sensors/5
hue_entrance_hall_motion: http://192.168.0.2/api/xxxxxxxxxx/sensors/5

destiny2_api_key: xxxxxxxxxx
