hass_password:

aws_access_key_id:
aws_secret_key:

nest_client_id:
nest_client_secret:

spotify_client_id:
spotify_client_secret:

hue_username:

metoffice_key:
darksky_key:
openweathermap_key:

transportapi_app_id:
transportapi_key

hue_kitchen_light: http://192.168.0.2/api/---/sensors/7
hue_kitchen_temperature: http://192.168.0.2/api/---/sensors/5
hue_kitchen_motion: http://192.168.0.2/api/---/sensors/41
hue_entrance_hall_light: http://192.168.0.2/api/---/sensors/38
hue_entrance_hall_temperature: http://192.168.0.2/api/---/sensors/36
hue_entrance_hall_motion: http://192.168.0.2/api/--/sensors/37
